@charset "utf-8";

$navbar-item-hover-color: #9d1f1f;
$navbar-item-color: grey;
$navbar-item-active-color: black;
$tabs-link-hover-border-bottom-color: #9d1f1f;
$tabs-link-hover-color: #9d1f1f;
$tabs-link-active-border-bottom-color: black;
$tabs-link-active-color: black;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";