@font-face {
    font-family: IBM-Plex-Mono;
    src: url("./fonts/IBMPlexMono.woff2") format("woff2");
}

@font-face {
    font-family: IBM-Plex-Sans-Bold;
    src: url("./fonts/IBMPlexSans-Bold.woff2") format("woff2");
}

@font-face {
    font-family: IBM-Plex-Sans-Regular;
    src: url("./fonts/IBMPlexSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: Pixelated-Mono;
    src: url("./fonts/PixelatedMono.woff2") format("woff2");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("./fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
    font-family: TisaSansPro;
    src: url("./fonts/TisaSansPro-Regular.woff2") format("woff2");
}