.accordion .btn {
  white-space: normal;
}

a.button {
    text-decoration: none;
    text-decoration: underline;
    color: initial;
}

/*
body, html {
    background-image: url("./assets/background-img.jpg");
}

body {

}

.accordion-header {
}
*/